<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Brainbits Testaufgabe - Bond Movies</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/bootstrap-theme.css">
		<link rel="stylesheet" href="css/styles.css">
		<script src="dist/bond.js"></script>

	</head>

	<body class="example">

		<header><h1>Bond Movies</h1></header>

		<main>
			<div class="info">

			</div>

			<ul class="thumbnails">
			</ul>
		</main>
	</body>

	<script type="text/template" id="thumbnail-template">
		<% for(var movie in movies) { %>
			<li class="thumbnail highlighted" data-id="<%= movie %>"><a href="#<%= movie %>"><img src="./img/<%= movies[movie].data.poster %>"></a></li>
		<% } %>
	</script>


	<script type="text/template" id="info-template">
		<div class="credits">
			<div class="actor">
				<i class="glyphicon glyphicon-user"></i>
				<span><%= movie.data.actor %></span>
				<div class="popover-wrapper">
					<div class="popover bottom">
						<div class="arrow"></div>
						<h3 class="popover-title">More Movies with <%= movie.data.actor %></h3>
						<div class="popover-content">
							<p><%= detail.actor.join(', ') %></p>
						</div>
					</div>
				</div>
			</div>
			<div class="director">
				<i class="glyphicon glyphicon-film"></i>
				<span><%= movie.data.director %></span>
				<div class="popover-wrapper">
					<div class="popover bottom">
						<div class="arrow"></div>
						<h3 class="popover-title">Movies directed by <%= movie.data.director %></h3>
						<div class="popover-content">
							<p><p><%= detail.director.join(', ') %></p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h3 class="title"><%= movie.data.title %> <small><%= movie.data.year %></small></h3>
		<h4 class="tagline"><%= movie.data.tagline %></h4>
		<img src="./img/<%= movie.data.poster %>">
		<p class="synopsis">
			<%= movie.data.synopsis %>
		</p>
		<p class="source">
			Source: <a href="<%= movie.data.source %>">themoviedb.org</a>
		</p>

	</script>

</html>
